@import "styles/mixins";
@import "styles/variables";

.row {
  height: 60px;
  justify-content: space-between;
  @include media($breakpoint-sm) {
    height: 90px;
  }
}

.counter {
  margin-left: 8px;
}
