.primary {
  border: none;
  border-radius: 6px;
  width: 100%;
  box-shadow: var(--shadow);
  color: var(--darker-grey);
  background: var(--yellow);
  padding: 0;
  &.cart_drawer {
    color: white;
    background: var(--blue);
  }
}

.flat {
  border: none;
  background: none;
  padding: 0;
}
