.primary {
  border: none;
  border-radius: 6px;
  width: 100%;
  box-shadow: var(--shadow);
  font-weight: 700;
  font-size: 18.4px;
  line-height: 125%;
  color: var(--darker-grey);
  background: var(--yellow);
  padding: 0;
  &.cart_drawer {
    color: white;
    background: var(--blue);
  }
}

.flat {
  border: none;
  background: none;
  padding: 0;
}
