.input {
  &__container {
    flex-direction: column;
    gap: 3px;
    margin-top: 30px;
  }
  &__label_container {
    justify-content: space-between;
  }
  &__error {
    color: var(--red);
  }
  &__element {
    height: 54px;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--light-grey);
    font-weight: 500;
    font-size: 18.4px;
    line-height: 23px;
    color: var(--darker-grey);
    &::placeholder {
      color: var(--light-grey);
    }
    &:focus {
      background: var(--lighter-grey);
      border-bottom: 2px solid var(--blue);
    }
    &:not(:placeholder-shown) {
      padding-left: 20px;
    }
  }
}

.error {
  border-bottom: 2px solid var(--red);
}

.number {
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.date {
  &__container {
    width: 100%;
  }
  &__input_container {
    position: relative;
  }
  &__input {
    padding-left: 29px !important;
  }
  &__calendar {
    position: absolute;
    height: 100%;
  }
}

.select {
  &__placeholder {
    padding-left: 0;
    color: var(--light-grey);
  }
  &__empty {
    padding-left: 0 !important;
    color: var(--light-grey);
  }
  &__option {
    padding-left: 20px;
  }
}
