@import "styles/mixins";
@import "styles/variables";

.detail {
  &__container {
    flex-direction: column;
  }
  &__graphics_container {
    position: relative;
    height: 250px;
  }
  &__image_container {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
  }
  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &__category_container {
    height: 40px;
    width: 40px;
    right: 12px;
    bottom: -20px;
  }
  &__datetime_container {
    padding: 20px;
    padding-bottom: 10px;
    align-items: center;
    white-space: nowrap;
  }
  &__datetime_icon {
    margin-right: 3px;
  }
  &__date {
    margin-right: 10px;
  }
  &__title {
    color: var(--blue);
  }
}
