.box {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 450px;
  background: white;
  border-radius: 8px;
  border: 1px solid var(--lighter-grey);
  &:hover {
    box-shadow: var(--shadow-hover);
  }
}

.top_container {
  position: relative;
  width: 320px;
  height: 180px;
}

.image_container {
  position: absolute;
  overflow: hidden;
  width: 320px;
  height: 180px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.image {
  position: absolute;
  height: 100%;
}

.category {
  position: absolute;
  right: 20px;
  bottom: -20px;
  z-index: 1;
}

.details_row {
  margin: 20px;
  align-items: center;
}

.datetime_icon {
  margin-right: 3px;
}

.date {
  margin-right: 10px;
}
