.box {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 450px;
  background: white;
  border-radius: 8px;
  border: 1px solid var(--lighter-grey);
  &:hover {
    box-shadow: var(--shadow-hover);
  }
}

.top_container {
  position: relative;
  width: 320px;
  height: 180px;
}

.image_container {
  position: absolute;
  overflow: hidden;
  width: 320px;
  height: 180px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.image {
  position: absolute;
  height: 100%;
}

.category {
  position: absolute;
  right: 20px;
  bottom: -20px;
  z-index: 1;
}

.details_row {
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

.datetime_icon {
  margin-right: 3px;
}

.date {
  margin-right: 10px;
}

.title {
  color: var(--blue);
  margin: 10px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  @supports (-webkit-line-clamp: 2) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
