@import "styles/mixins";
@import "styles/variables";

.nav {
  position: sticky;
  top: 0;
  height: 60px;
  background-color: var(--light-yellow);
  @include media($breakpoint-sm) {
    height: 90px;
  }
}

.nav_row {
  height: 100%;
  justify-content: space-between;
}

.logo {
  width: 90px;
  height: 40px;
  @include media($breakpoint-sm) {
    width: 105px;
    height: 47px;
  }
}

.cart_row {
  margin: 0;
}

.counter {
  display: none;
  @include media($breakpoint-sm) {
    display: inline;
    margin-left: 8px;
    margin-right: 198px;
  }
}

.drawer_row {
  height: 60px;
  justify-content: space-between;
  @include media($breakpoint-sm) {
    height: 90px;
  }
}

.drawer_counter {
  margin-left: 8px;
}
