.modal {
  &__container {
    transition: all 300ms ease-in-out;
    bottom: -2rem;
    opacity: 0;
    &.open {
      bottom: 0;
      opacity: 1;
      animation: show 300ms ease-in-out;
    }
    @keyframes show {
      from {
        opacity: 0;
        bottom: -2rem;
      }
      to {
        opacity: 1;
        bottom: 0;
      }
    }
  }
  &__header_container {
    align-items: flex-start;
    justify-content: space-between;
  }
  &__header {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__close_button {
    padding: 4px;
    margin-right: -20px;
  }
  &__description {
    color: var(--light-grey);
  }
}
