.home {
  flex-direction: column;
  padding: 0 20px;
  padding-top: 25px;
  &__loading {
    margin-top: 100px;
  }
  &__empty {
    margin-top: 100px;
    text-align: center;
  }
}

.detail {
  flex-direction: column;
  &__loading {
    margin-top: 100px;
  }
  &__empty_container {
    margin-top: 100px;
    text-align: center;
  }
  &__empty_button {
    margin-top: 20px;
    height: 60px;
    padding: 0 40px;
  }
}
