.category {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--darker-grey);
    border-radius: 6px;
    position: absolute;
    z-index: 1;
  }
}
